.form {
    display: flex;
    border: 2px solid #d3d3d3;
}
.input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
}
input:focus {
    outline: none;
}
.sendButton {
    background-color: #2979ff;
    width: 20%;
    outline: none;
    border: 0;
    text-transform: uppercase;
    display: inline-block;
    color: white;
    padding: 20px;
}
